.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      gap: 5px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
