@import "../../partials/variables";

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  box-shadow: $soft-shadow;

  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      width: 50px;
    }
  }

  .navlist {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;

    .item {
      text-decoration: none;
      color: #000;
      font-size: 1.2rem;
      &.active {
        border-bottom: 2px solid #000;
      }
    }
  }
  .center {
    flex: 3;
  }
  .right {
    flex: 1;
    gap: 50px;
    align-items: center;

    .profile {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      padding: 5px 10px;
      transition: 0.2s;
      &:hover {
        background-color: $very-light-grey;
      }
      img {
        width: 30px;
      }

      span {
        font-size: 1.1rem;
      }
    }
  }

  .sidebar {
    position: fixed;
    z-index: 100;
    inset: 0 0 0 80%;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    box-shadow: $primary-shadow;
    background-color: #fff;

    .close {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: 0.2s;
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $very-light-grey;
      }

      img {
        width: 20px;
      }
    }

    .wrapper {
      padding: 100px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sbItem {
        font-size: 1.2rem;
        padding-block: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $very-light-grey;
        position: relative;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: $light-grey;
        }

        img {
          width: 20px;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          transition: 0.3s;
        }

        &:hover > .ordersIcon {
          transform: translateY(-50%) translateX(10px);
        }
      }

      .logout:hover {
        color: $danger-red;
      }
    }
  }
  .sidebar[data-visible="true"] {
    transform: translateX(0%);
  }
}
