.journey {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  position: relative;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 30%, #000);

  & > img:nth-of-type(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999;
  }
  & > img:nth-of-type(2) {
    position: absolute;
    width: 350px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -99;
  }

  .top {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      word-spacing: 0.2rem;
      text-transform: uppercase;
    }
  }

  .bottom {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-inline: 80px;

    .textWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        word-spacing: 0.15rem;
      }

      p {
        font-size: 0.9rem;
        font-weight: 300;
      }

      &::before {
        content: "";
        position: absolute;
        height: calc(100% + 25px);
        width: 3px;
        background: #fff;
        left: -20px;
        top: 0;
      }

      &::after {
        content: "";
        position: absolute;
        height: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 3px solid #fff;
        top: -15px;
        left: -19px;
        transform: translateX(-50%);
      }
    }
  }
}
